@layer utilities {
  .line {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.6px;
  }

  .back-wheel {
    transform-origin: 18px 56px;
    animation: wheel 300ms linear infinite;
  }

  .front-wheel {
    transform-origin: 59px 56px;
    animation: wheel 300ms linear infinite;
    animation-delay: 200ms;
  }

  .animate-car {
    transform-origin: center center;
    animation: car 600ms linear infinite;
  }

  .animate-line-1 {
    stroke-dasharray: 20% 80%;
    animation: line-1 400ms linear infinite;
  }

  .animate-line-2 {
    stroke-dasharray: 10% 90%;
    animation: line-1 400ms linear infinite;
    animation-delay: 200ms;
  }

  .animate-line-floor {
    stroke-dasharray: 60% 10%;
    stroke-dashoffset: 65;
    animation: line-2 800ms linear infinite;
  }

  .animate-cloud {
    opacity: 0.1;
    animation: cloud 900ms linear infinite;
  }

  @keyframes wheel {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes car {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-1deg) translateY(1px);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes line-1 {
    from {
      stroke-dashoffset: 0;
    }
    to {
      stroke-dashoffset: -80;
    }
  }

  @keyframes line-2 {
    from {
      stroke-dashoffset: 0;
    }
    to {
      stroke-dashoffset: -56;
    }
  }

  @keyframes cloud {
    from {
      transform: translateX(40%);
    }
    to {
      transform: translateX(-90%);
    }
  }
}